* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1px;
}

body {
    font-size: 14rem;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background: #8dc63f;
}

.bg-white {
    background: #fff;
}

.wrapper {
    padding: 0 10px;
    max-width: 960px;
    margin: auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header {
    flex-wrap: wrap;
    padding: 25px 15px;
}

header p {
    font-size: 22px;
    color: #39930d;
    font-family: "Arial";
    margin: 0 35px 20px 0;
}

header b {
    font-size: 44px;
    color: #39930d;
    font-weight: bold;
    font-family: "Arial";
    display: block;
}

header i {
    font-size: 14px;
    color: #5a5a5a;
    font-style: italic;
    font-family: "Arial";
}

.logo img {
    display: inline-block;
    margin-bottom: 20px;
}

.contacts a {
    font-size: 22px;
    color: #39930d;
    font-family: "Arial";
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

main {
    background: #fff;
    padding: 0 15px 15px 15px;
}

.main-picture img {
    min-height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: 70%;
}

.info {
    max-width: 595px;
}

.info h1 {
    font-size: 24px;
    color: #39930d;
    font-weight: bold;
    font-family: "Arial";
    margin: 20px 0;
}

.info p {
    margin-bottom: 20px;
    line-height: 21px;
    color: #343434;
    font-family: "Arial";
}

.text {
    padding-bottom: 25px;
}

.nav {
    padding-top: 20px;
}

.nav ul {
    list-style: none;
}

.nav p {
    display: inline-block;
    font-size: 18px;
    color: #ffffff;
    font-family: "Arial";
    min-width: 270px;
    padding: 12px 20px;
    background-color: #39930d;
    margin: 0 0 10px 0;
}

.nav a {
    display: block;
    line-height: 30px;
    padding: 0 20px;
    text-transform: uppercase;
    color: #39930d;
    font-family: "Arial";
    transition: all 0.5s ease;
}

.nav a:hover {
    transform: translateX(15px);
    text-decoration: none;
    color: #fff;
    background-color: #343434;
}

footer {
    background-color: #39930d;
    padding: 13px 15px;
}

footer p {
    font-size: 14px;
    color: #ffffff;
    font-family: "Arial";
}

@media screen and (min-width: 768px) {
    .logo img {
        margin-bottom: unset;
    }

    .logo p {
        margin-bottom: unset;
    }
}

@media screen and (min-width: 610px) {
    .flex {
        justify-content: space-between;
    }

    .nav p {
        min-width: 300px;
    }

    .contacts {
        text-align: right;
    }
}

@media screen and (min-width: 930px) {
    .nav h2 {
        margin: 0 0 10px 0;
    }

    .nav a {
        padding: 0 20px;
    }
}